In [94]:
import pandas as pd
import numpy as np

In [95]:
credit=pd.read_csv("C:/Users/shash/Desktop/credit.csv")

In [96]:
credit.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
months_loan_duration,1000.0,20.903,12.058814,4.0,12.0,18.0,24.00,72.0
amount,1000.0,3271.258,2822.736876,250.0,1365.5,2319.5,3972.25,18424.0
percent_of_income,1000.0,2.973,1.118715,1.0,2.0,3.0,4.00,4.0
years_at_residence,1000.0,2.845,1.103718,1.0,2.0,3.0,4.00,4.0
age,1000.0,35.546,11.375469,19.0,27.0,33.0,42.00,75.0
existing_loans_count,1000.0,1.407,0.577654,1.0,1.0,1.0,2.00,4.0
dependents,1000.0,1.155,0.362086,1.0,1.0,1.0,1.00,2.0

In [97]:
credit.dtypes

checking_balance        object
months_loan_duration     int64
credit_history          object
purpose                 object
amount                   int64
savings_balance         object
employment_duration     object
percent_of_income        int64
years_at_residence       int64
age                      int64
other_credit            object
housing                 object
existing_loans_count     int64
job                     object
dependents               int64
phone                   object
default                 object
dtype: object

In [98]:
credit.head(100)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1 - 200 DM,54,perfect,business,15945,< 100 DM,< 1 year,3,4,58,none,rent,1,skilled,1,yes,yes
96,unknown,12,critical,education,2012,unknown,4 - 7 years,4,2,61,none,own,1,skilled,1,no,no
97,1 - 200 DM,18,good,business,2622,100 - 500 DM,1 - 4 years,4,4,34,none,own,1,skilled,1,no,no
98,1 - 200 DM,36,critical,furniture/appliances,2337,< 100 DM,> 7 years,4,4,36,none,own,1,skilled,1,no,no
99,1 - 200 DM,20,poor,car,7057,unknown,4 - 7 years,3,4,36,bank,rent,2,management,2,yes,no

In [99]:
credit['credit_history'].values

array(['critical', 'good', 'critical', 'good', 'poor', 'good', 'good',
       'good', 'good', 'critical', 'good', 'good', 'good', 'critical',
       'good', 'good', 'critical', 'perfect', 'good', 'good', 'critical',
       'good', 'critical', 'critical', 'critical', 'good', 'perfect',
       'very good', 'good', 'poor', 'good', 'good', 'good', 'critical',
       'good', 'critical', 'critical', 'good', 'good', 'good', 'good',
       'good', 'poor', 'critical', 'critical', 'critical', 'good', 'good',
       'critical', 'good', 'poor', 'poor', 'good', 'good', 'poor',
       'very good', 'good', 'critical', 'good', 'critical', 'good',
       'critical', 'perfect', 'perfect', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'critical', 'critical', 'critical', 'good',
       'critical', 'good', 'poor', 'perfect', 'good', 'good', 'good',
       'good', 'good', 'good', 'critical', 'critical', 'good', 'good',
       'perfect', 'critical', 'critical', 'critical', 'critical', 'good',
       'perfect', 'critical', 'good', 'critical', 'poor', 'good', 'good',
       'poor', 'critical', 'good', 'critical', 'very good', 'good',
       'good', 'good', 'poor', 'good', 'good', 'critical', 'good',
       'critical', 'good', 'critical', 'critical', 'critical', 'good',
       'critical', 'good', 'critical', 'good', 'critical', 'good', 'good',
       'critical', 'critical', 'good', 'poor', 'good', 'good', 'good',
       'critical', 'poor', 'good', 'critical', 'good', 'good', 'good',
       'good', 'good', 'critical', 'very good', 'critical', 'critical',
       'critical', 'critical', 'good', 'good', 'good', 'critical', 'poor',
       'good', 'critical', 'very good', 'good', 'critical', 'critical',
       'critical', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'critical', 'perfect', 'good', 'poor', 'good', 'poor', 'very good',
       'good', 'critical', 'good', 'critical', 'poor', 'poor',
       'very good', 'critical', 'critical', 'critical', 'very good',
       'critical', 'good', 'perfect', 'good', 'perfect', 'good', 'good',
       'good', 'critical', 'critical', 'good', 'good', 'poor', 'critical',
       'good', 'poor', 'good', 'critical', 'critical', 'critical',
       'critical', 'good', 'good', 'critical', 'good', 'perfect', 'poor',
       'critical', 'critical', 'perfect', 'good', 'good', 'good', 'good',
       'good', 'good', 'poor', 'good', 'perfect', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'critical', 'good', 'good',
       'good', 'critical', 'good', 'good', 'good', 'perfect', 'critical',
       'very good', 'good', 'critical', 'perfect', 'good', 'good',
       'critical', 'good', 'good', 'poor', 'good', 'poor', 'critical',
       'very good', 'good', 'critical', 'good', 'good', 'critical',
       'critical', 'critical', 'good', 'critical', 'good', 'good', 'good',
       'good', 'critical', 'very good', 'good', 'good', 'good',
       'critical', 'good', 'good', 'good', 'critical', 'good',
       'very good', 'critical', 'critical', 'good', 'good', 'poor',
       'good', 'poor', 'good', 'good', 'critical', 'critical', 'critical',
       'good', 'good', 'good', 'good', 'critical', 'good', 'perfect',
       'critical', 'critical', 'critical', 'good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'very good',
       'good', 'good', 'critical', 'poor', 'critical', 'good', 'good',
       'good', 'critical', 'critical', 'critical', 'good', 'good', 'good',
       'critical', 'critical', 'good', 'critical', 'perfect', 'critical',
       'good', 'good', 'good', 'good', 'critical', 'good', 'good', 'good',
       'good', 'critical', 'critical', 'good', 'poor', 'critical', 'good',
       'good', 'critical', 'perfect', 'good', 'good', 'critical', 'poor',
       'good', 'good', 'good', 'good', 'poor', 'good', 'good', 'good',
       'critical', 'good', 'good', 'good', 'good', 'critical', 'critical',
       'critical', 'very good', 'very good', 'poor', 'poor', 'good',
       'critical', 'good', 'good', 'good', 'good', 'poor', 'critical',
       'good', 'critical', 'critical', 'good', 'good', 'good', 'good',
       'critical', 'critical', 'poor', 'good', 'critical', 'good',
       'critical', 'good', 'critical', 'poor', 'poor', 'poor', 'good',
       'critical', 'good', 'good', 'critical', 'good', 'critical',
       'critical', 'good', 'good', 'critical', 'good', 'poor', 'good',
       'good', 'good', 'good', 'critical', 'poor', 'good', 'good',
       'critical', 'critical', 'good', 'critical', 'good', 'good',
       'critical', 'critical', 'good', 'good', 'good', 'critical',
       'critical', 'very good', 'good', 'good', 'poor', 'good',
       'critical', 'critical', 'good', 'good', 'good', 'poor', 'critical',
       'good', 'perfect', 'good', 'good', 'good', 'critical', 'good',
       'good', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'poor', 'poor', 'poor', 'poor', 'good', 'good', 'good', 'good',
       'critical', 'perfect', 'good', 'good', 'good', 'critical',
       'critical', 'good', 'good', 'poor', 'critical', 'poor', 'good',
       'good', 'good', 'good', 'critical', 'perfect', 'critical', 'good',
       'critical', 'good', 'good', 'critical', 'good', 'critical', 'good',
       'good', 'good', 'critical', 'good', 'good', 'critical',
       'very good', 'good', 'good', 'good', 'good', 'good', 'poor',
       'good', 'critical', 'critical', 'critical', 'good', 'critical',
       'critical', 'good', 'perfect', 'good', 'good', 'good', 'critical',
       'critical', 'good', 'good', 'good', 'good', 'poor', 'good', 'good',
       'critical', 'good', 'critical', 'good', 'good', 'good', 'poor',
       'good', 'good', 'critical', 'poor', 'critical', 'good',
       'very good', 'critical', 'critical', 'very good', 'good',
       'critical', 'good', 'good', 'perfect', 'perfect', 'very good',
       'critical', 'good', 'very good', 'poor', 'good', 'poor', 'poor',
       'good', 'critical', 'good', 'good', 'good', 'critical', 'good',
       'good', 'good', 'critical', 'good', 'critical', 'critical', 'good',
       'critical', 'critical', 'good', 'good', 'good', 'good', 'critical',
       'good', 'good', 'critical', 'critical', 'poor', 'good', 'good',
       'very good', 'very good', 'good', 'perfect', 'critical', 'poor',
       'good', 'good', 'very good', 'good', 'good', 'very good',
       'critical', 'good', 'good', 'good', 'good', 'good', 'good',
       'very good', 'poor', 'perfect', 'poor', 'critical', 'good', 'good',
       'critical', 'critical', 'good', 'good', 'good', 'good', 'good',
       'very good', 'critical', 'good', 'good', 'very good', 'good',
       'good', 'good', 'good', 'good', 'poor', 'good', 'poor', 'good',
       'good', 'good', 'critical', 'critical', 'poor', 'perfect', 'good',
       'good', 'good', 'good', 'good', 'good', 'poor', 'critical', 'good',
       'good', 'good', 'perfect', 'critical', 'good', 'good', 'good',
       'poor', 'critical', 'critical', 'very good', 'very good',
       'critical', 'critical', 'critical', 'good', 'good', 'critical',
       'poor', 'critical', 'critical', 'good', 'good', 'good', 'good',
       'good', 'poor', 'critical', 'poor', 'good', 'critical', 'poor',
       'good', 'good', 'critical', 'good', 'good', 'critical', 'good',
       'good', 'good', 'critical', 'critical', 'good', 'good', 'critical',
       'good', 'poor', 'good', 'good', 'good', 'perfect', 'good', 'good',
       'critical', 'very good', 'good', 'critical', 'good', 'critical',
       'critical', 'good', 'critical', 'perfect', 'perfect', 'very good',
       'good', 'good', 'good', 'critical', 'critical', 'good',
       'very good', 'critical', 'poor', 'good', 'good', 'good',
       'critical', 'very good', 'good', 'good', 'critical', 'perfect',
       'very good', 'very good', 'good', 'very good', 'critical',
       'critical', 'good', 'good', 'good', 'good', 'good', 'good', 'good',
       'critical', 'poor', 'good', 'critical', 'critical', 'good',
       'critical', 'critical', 'critical', 'good', 'critical', 'critical',
       'good', 'good', 'good', 'critical', 'critical', 'good', 'critical',
       'critical', 'critical', 'critical', 'good', 'critical', 'good',
       'critical', 'good', 'critical', 'critical', 'perfect', 'good',
       'good', 'good', 'good', 'critical', 'poor', 'critical', 'good',
       'good', 'critical', 'good', 'good', 'good', 'good', 'critical',
       'poor', 'good', 'critical', 'critical', 'critical', 'critical',
       'good', 'good', 'good', 'critical', 'very good', 'perfect', 'good',
       'good', 'critical', 'good', 'good', 'poor', 'good', 'critical',
       'good', 'good', 'good', 'good', 'good', 'critical', 'critical',
       'critical', 'critical', 'perfect', 'good', 'poor', 'poor', 'good',
       'perfect', 'good', 'good', 'perfect', 'good', 'good', 'critical',
       'critical', 'good', 'poor', 'good', 'very good', 'good', 'good',
       'good', 'good', 'good', 'good', 'critical', 'critical', 'critical',
       'very good', 'poor', 'good', 'good', 'critical', 'good', 'good',
       'critical', 'poor', 'good', 'critical', 'good', 'good', 'good',
       'critical', 'good', 'good', 'poor', 'critical', 'critical', 'good',
       'good', 'critical', 'very good', 'good', 'good', 'critical',
       'good', 'good', 'critical', 'critical', 'good', 'good', 'critical',
       'good', 'critical', 'very good', 'critical', 'critical',
       'critical', 'critical', 'critical', 'poor', 'good', 'critical',
       'good', 'good', 'critical', 'critical', 'critical', 'good', 'good',
       'good', 'good', 'good', 'poor', 'good', 'poor', 'critical', 'good',
       'good', 'very good', 'perfect', 'good', 'good', 'good', 'good',
       'critical', 'poor', 'good', 'good', 'very good', 'very good',
       'critical', 'good', 'good', 'poor', 'good', 'good', 'critical',
       'critical', 'good', 'poor', 'good', 'good', 'good', 'critical',
       'good', 'good', 'good', 'critical', 'good', 'perfect', 'very good',
       'good', 'good', 'good', 'critical', 'poor', 'good', 'good', 'good',
       'critical', 'critical', 'critical', 'good', 'good', 'critical',
       'poor', 'good', 'good', 'good', 'good', 'critical', 'good', 'good',
       'critical', 'good', 'good', 'very good', 'good', 'critical',
       'good', 'good', 'poor', 'poor', 'very good', 'critical', 'good',
       'good', 'good', 'critical', 'critical', 'perfect', 'good', 'good',
       'critical', 'critical', 'very good', 'good', 'good', 'good',
       'good', 'good', 'good', 'good', 'critical'], dtype=object)

In [100]:
history={'critical':0,'poor':1,'good':2,'very good':3,'perfect':4}

In [101]:
credit["credit_history"]=credit["credit_history"].map(history)

In [102]:
credit.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,0,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,2,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,unknown,12,0,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,2,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,1,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes

In [103]:
for features in credit.columns:
    if credit[features].dtype == 'object':
        credit[features]=pd.Categorical(credit[features]).codes

In [104]:
credit.dtypes

checking_balance         int8
months_loan_duration    int64
credit_history          int64
purpose                  int8
amount                  int64
savings_balance          int8
employment_duration      int8
percent_of_income       int64
years_at_residence      int64
age                     int64
other_credit             int8
housing                  int8
existing_loans_count    int64
job                      int8
dependents              int64
phone                    int8
default                  int8
dtype: object

In [105]:
credit.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,1,6,0,4,1169,4,3,4,4,67,1,1,2,1,1,1,0
1,0,48,2,4,5951,2,0,2,2,22,1,1,1,1,1,0,1
2,3,12,0,3,2096,2,1,2,3,49,1,1,1,3,2,0,0
3,1,42,2,4,7882,2,1,2,4,45,1,0,1,1,2,0,0
4,1,24,1,1,4870,2,0,3,4,53,1,0,2,1,2,0,1

In [106]:
X=credit.drop('default',axis=1)
y=credit[["default"]]

In [107]:
from sklearn.model_selection import train_test_split

In [108]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [109]:
from sklearn.tree import DecisionTreeClassifier

In [110]:
dt=DecisionTreeClassifier(criterion = 'entropy' )

In [111]:
dt.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [112]:
dt.score(x_train,y_train)
dt.score(x_test,y_test)

0.645

In [113]:
dt.score(x_train,y_train)

1.0

In [114]:
dt1=DecisionTreeClassifier(criterion='entropy',max_depth=4)

In [115]:
dt1.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [116]:
dt1.score(x_train,y_train)

0.72875

In [117]:
dt1.score(x_test,y_test)

0.71

In [118]:
y_predict = dt1.predict(x_test)

In [119]:
from sklearn import metrics

In [120]:
print(metrics.confusion_matrix(y_test,y_predict))#much better compared to other result

[[104  37]
 [ 21  38]]

In [121]:
from sklearn.ensemble import GradientBoostingClassifier

In [343]:
gb=GradientBoostingClassifier(n_estimators=100,learning_rate=0.09,max_depth=4,random_state=1)

In [344]:
gb=gb.fit(x_train,y_train)

C:\Users\shash\Anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:1450: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [345]:
gb.score(x_test,y_test)

0.78

In [346]:
gb.score(x_train,y_train)

0.9575

In [347]:
y_preds=gb.predict(x_test)

In [348]:
print(metrics.confusion_matrix(y_test,y_preds))

[[123  18]
 [ 26  33]]